/* font */
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Pochaevsk&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
    
}
:root{
    --primary-color:#588c7e;
    --secondary-color:#d96459;
    --tersari-color:#fff3f3;
    --white--color:#fff;
    --box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    /* --boxShadow: */
}
.container{
    width: 80%;
    margin: auto;
    padding: 10px;
    text-align: center;
    /* display: flex; */
}
ul{
    list-style: none;
    text-transform: capitalize;
    cursor: pointer;
    /* text-align: start; */
}
a{
    text-decoration: none;
    color:var(--white--color) ;
    text-transform: capitalize;
}
h1{
    /* color: var(--secondary-color); */
    font-size: 3rem;
    text-transform: capitalize;
    /* line-height: 10px; */
    
}
h3{
    text-transform: capitalize;
}
P{
    margin-bottom: 20px;
}



/* ------header----- */
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(backgroundin=mage.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
    
}
/* -----nav-bar----- */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .nav-links ul{
    display: flex;
    gap: 50px;
    position: relative;
}
.logo img{
    width: 80px;
}

.nav-links  li  ::after{
    content: "";
    background-color: var(--secondary-color);
    width: 0;
    /* position: absolute; */
    height: 2px;
    display: block;
    margin: auto;
    transition:  0.5s;


}
.nav-links li :hover::after{
    width: 100%;
}
.nav-bar .fa{
    color: var(--white--color);
}
/* -------text box------ */
.text-box{
    text-align: center;
    width: 80%;
    
    /* padding: 20px; */
    /* margin-top: 50px; */
    top: 50%;
    text-indent: 20px;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
 
}
.text-box h1{
    line-height: 50px;
    margin-bottom: 20px;
    color: var(--white--color);
}
.text-box p{
    color: var(--white--color);
    font-size: 1rem;
}
.btn{
    margin-top:30px;
    display: inline-block;
    border: 1px solid var(--white--color);
    
    padding: 12px 43px 12px 30px;
    position: relative;
    transition: 0.5s;
   
}
.btn:hover{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}
/* ------Course------ */
.course{
    margin-top: 50px;
}
.row{
    display: flex;
    gap: 50px;
    justify-content: space-between;

}
.course-col{
    height: auto;
    width: 100%;
    /* background-color: var(--tersari-color); */
    flex-basis: 62%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}
.course-col img{
    width: 100%;
    /* position: absolute; */
    display: block;
    border-radius: 10px;
}
.course-col h3{
    margin-top: 10px;
}
.course-col p{
    text-align: start;
    margin-top: 10px; 
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.nav-bar svg{
    display: none;
    background-color: var(--secondary-color);
    background: transparent;
}

@media (max-width:800px) {
    h1{
        font-size: 2rem;
        text-align:center ;
    }
    p{
        font-size: 0.8rem;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .link{
        height: 100vh;
        width: 200px;
        
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
        background-color: var(--tersari-color);
        margin-top: -55px;
        z-index: 10;
        position: absolute;
        right: -200px;
        /* gap: -100px; */
        transition: 0.5s;
        color:black;
    }
    .link a{
        color: var(--secondary-color);
        font-weight: 500;

    }
   
    
    .link ul{
        text-align: start;
        padding: 50px 0px 0px 10px;
        display: flex;
        gap: 5px;
        flex-direction: column;
    }
    .nav-bar svg{
        display: block;
        cursor: pointer;
    }
    .link svg{
        background-color: var(--secondary-color);
    }
    
    .nav-links  ul li{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        /* margin-bottom: -20px; */


    }
    .nav-links li :hover::after{
        width: 0;
    }

}
/* -----facility----- */
/* ----facility--- */



.facility .row{
    margin-top:50px;
}
.facility-col{
    flex-basis: 32%;
    height: auto;
    width: 100%;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    background-color: var(--seconfary-color);
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
.facility-col h2{
    text-transform: capitalize;
    font-weight: 700;
    /* text-align: center; */
}
.facility-col h1{
    font-size: 3rem;
    color: var(--secondary-color);
    text-align: start;
    
}
.facility-col:hover  {
    background-color: var(--secondary-color);
    color: var(--white--color);
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    
}
.facility-col:hover h1{
    color: var(--white--color);
}
/* -----enrole---- */
.enroll img{
    width: 100%;
}
.enroll .container{
    text-align: center;
    top: 50%;
    left: 50%;
    width: 80%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.enroll h1{
    color: var(--white--color);
    font-size: 2rem;
    margin-top:50px ;
}
.enroll p{
    color: var(--white--color);
    text-align: center;
}
.enroll{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(photo.jpg);
    position: relative;
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    /* margin-bottom: 50px; */
    text-align: center;
}
.enroll .btn{
    color: var(--white--color);
    text-transform: capitalize;
    cursor: pointer;
}
/* ----footer---- */
.footer{
    background-color: var(--tersari-color);
    height: auto;
    width: 100%;
    padding-top: 50px;
}
.foo-ter{
    display: flex;
    margin-top: 50px;
}
.footer .logo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    /* background-color: #588c7e; */
    background-image: url(Ganesh\ man\ logo.jpg);
    background-position: center;
    background-size:contain ;
    /* position: relative; */
}
.footer img{
    width: 150px;
    align-items: start;
    /* position: absolute; */
}
.footer-links{
    flex-basis: 50%;
    text-align: start;
    height:auto;
    width: 100%;
}
.footer-links a{
    color: black;
}
h4{
    color: var(--secondary-color);
    text-transform: capitalize;
    font-weight: 600;
}
.footer-links .fa{
    color: #f44336;
    padding-right: 10px;
}
.line{
    height: 2px;
    width: 100%;
    background-color: var(--secondary-color);
    /* margin: 0px 0; */
}
.footer .name{
    margin-bottom: -15px;
}
.footer .name p{
    color: black;
    text-align: center;
    padding: 5px;
    text-transform: capitalize;
}

/* ----------team------- */
.header-contactUs{
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Photo/dad\ haru\ ko.jpg); */
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(dad\ haru\ ko.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
    
    
}
.CommitteeMember{
    margin:100px 0;
}
.row{
    display: flex;
}
.Members-col img{
    width: 100%;
    height: auto;
}
.Members-col{
    
    height: auto;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: var(--tersari-color);
    flex-basis: 32%;
    margin: 50px 0;
}
p .fa{
    margin-right: 10px;
}
.Members-col:hover{
    box-shadow: var(--box-shadow);
}
/* -----table----- */

.table-content {
    border-collapse: collapse;
    width: 100%;
    border-radius: 1px solid var(--primary-color);
    /* margin: 200px 0; */
    font-size: 1.2rem;
    /* min-width: 400px; */
}
table{
    /* border-radius: 20px; */
    margin-bottom: 20px;
    text-align: start;
    text-transform: capitalize;
}
table tr th{
    background-color: var(--primary-color);
    color: var(--white--color);
    text-transform: capitalize;
    border: 1px solid var(--primary-color);
    height: 50px;
    
}
thead{
    border-radius: 20px;
}
table tr  td {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px;

}
table tbody tr :nth-of-type(even){
    background: transparent;
}
table tbody  :nth-of-type(even){
    background-color: var(--tersari-color);
}








